<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create Item</title>
    <a href="/dashboard">Home</a>
    <a href="/">Logout</a>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Create a New Wish List Item</h1>
    <form action="/createItem" style="border:1px solid #ccc" method="POST">
        {% csrf_token %}
        <div class="container">
            <label for="item">
                <b>Item/Product:</b>
            </label>
            <input type="text" minlength="3" placeholder="Enter Item Name" name="item">
            <button type="submit" class="addbtn">Add Item</button>
        </div>
    </form>
</body>
</html>